body{
    /* background:rgba(204,229,255,0.5); */
    background:linear-gradient(to right,rgba(255,0,0,0.5),rgba(0,0,255,0.5));
    background-size:Cover;
}   
.image{
    text-align: center;
    border: 2px solid rgb(200,200,150);
    padding: 20px;
    margin: 40px;
}

.name{
    color:blue;
    background:;
}